<amexio-nav [title]="'Amexio Canvas'" [logo]="'assets/images/logos/amexio-logo.png'">
    <amexio-nav-item position-center>
        <amexio-image [icon-class]="'fa fa-bars fa-1x'" (onClick)="onExpandIconClick($event)"></amexio-image>
    </amexio-nav-item>
    <amexio-nav-item position-center>
        <amexio-image [icon-class]="'fa fa-cog fa-1x'" [tooltip]="'Settings'">
        </amexio-image>
    </amexio-nav-item>
</amexio-nav>
<br><br><br><br>
<ng-container *ngIf="isExpandSideNav">
    <amexio-row>
        <amexio-column [size]="3">
            <amexio-side-nav [http-url]="'assets/data/sidenav.json'" [http-method]="'get'" [data-reader]="'data'">
            </amexio-side-nav>
        </amexio-column>
        <amexio-column [size]="9">
            <router-outlet></router-outlet>
        </amexio-column>
    </amexio-row>
</ng-container>
<ng-container *ngIf="!isExpandSideNav">
    <amexio-row>
        <amexio-column [size]="12">
            <router-outlet></router-outlet>
        </amexio-column>
    </amexio-row>
</ng-container>