<div style="font-family: 'Titillium Web', sans-serif;"> 
<amexio-nav [enable-side-nav-position]="true" [title]="'Amexio'"
    [logo]="'assets/images/logos/amexio-logo.png'">
    <amexio-nav-item position-right *ngFor="let projmenu of projectmenus" [type]="'menu'" [title]="projmenu.text" [data]="projmenu.childrens"
    (onNavItemClick)="projectLinkClick($event)">
    </amexio-nav-item>
    <amexio-nav-item position-right *ngFor="let menu1 of menus" [type]="'menu'" [title]="menu1.text" [data]="menu1.childrens"
    (onNavItemClick)="externalLink($event)">
    </amexio-nav-item>
 <amexio-nav-item position-right [type]="'link'" [title]="projectname"
 (onNavItemClick)="getProjData()">
    </amexio-nav-item>
  </amexio-nav>
</div>

   
<amexio-dialogue [show-dialogue]="confirmdialogue"
               [title]="'Confirm'"
               [message]="'Are you sure you want to logout?'"
               [message-type]="'confirm'"
               [type]="'confirm'"
               (actionStatus)="checkStatus($event)">
</amexio-dialogue>
<amexio-notification 
   [data]="msgData"
   [vertical-position]="'top'"
   [horizontal-position]="'right'"
   [auto-dismiss-msg]="true"
   [auto-dismiss-msg-interval]="7000">
</amexio-notification>
<amexio-dialogue [show-dialogue]="isValidateForm" [message-type]="'error'" [closable]="false" [title]="'Error'" [type]="'alert'" [custom]="true">
<amexio-body>
    <ol>
        <li *ngFor="let msgObj of validationMsgArray let index=index">{{msgObj}}</li>
    </ol>
</amexio-body>
<amexio-action>
    <amexio-button type="primary" (onClick)="okErrorBtnClick()" [label]="'Ok'">
    </amexio-button>
</amexio-action>
</amexio-dialogue>

 <!-- <ng-container *ngIf="isExpandSideNav">
    <amexio-row>
        <amexio-column [size]="3">
            <amexio-side-nav [http-url]="'/api/ide/ApplicationMenu/findApplicationMenus'" [http-method]="'get'" [data-reader]="'response'">
            </amexio-side-nav>
        </amexio-column>
        <amexio-column [size]="9">
            <router-outlet></router-outlet>
        </amexio-column>
    </amexio-row>
</ng-container>
<ng-container *ngIf="!isExpandSideNav">
    <amexio-row>
        <amexio-column [size]="12">
            <router-outlet></router-outlet>
        </amexio-column>
    </amexio-row>
</ng-container>  -->
