<amexio-nav [title]="'Amexio Canvas'"
                [logo]="'assets/images/logos/amexio-logo.png'">
      <amexio-nav-item position-center>{{projectname}}</amexio-nav-item>
      <amexio-nav-item position-center><a routerLink="project/create">Create</a> </amexio-nav-item>
      <amexio-nav-item position-center><a routerLink="project/list">List</a> </amexio-nav-item>
      <amexio-nav-item position-center><a routerLink="project/code-explorer">Code-Explorer</a> </amexio-nav-item>
      <amexio-nav-item position-center><a routerLink="dna/canvas">Canvas</a> </amexio-nav-item>
      <amexio-nav-item position-center><a routerLink="dna/service">Service Definition</a> </amexio-nav-item>
      <amexio-nav-item position-center>
        <amexio-image [icon-class]="'fa fa-cog fa-1x'"
            [tooltip]="'Settings'">
        </amexio-image>
      </amexio-nav-item>
</amexio-nav>
