<amexio-row>
    <amexio-column size="12">
        <amexio-label [size]="'small'" [font-color]="'black'">
            Product Details </amexio-label>
    </amexio-column>
</amexio-row>

<amexio-row>
    <amexio-column size="6">
        <amexio-text-input [field-label]="'Product Name'" [(ngModel)]="productdetailsModel.pname" name="productdetailsModel.pname" [place-holder]="'Enter product name'" [allow-blank]="true" [min-length]="0" [max-length]="20" [font-size]="10" [has-label]="true"
            (onBlur)="onBlur_pname($event)" (input)="input_pname($event)" (focus)="focus_pname($event)">
        </amexio-text-input>
    </amexio-column>
    <amexio-column size="6">
        <amexio-number-input [field-label]="'Price'" [(ngModel)]="productdetailsModel.price" name="productdetailsModel.price" [place-holder]="'Enter price'" [allow-blank]="true" [font-size]="10" [has-label]="true" [min-value]="0" [max-value]="20" (onBlur)="onBlur_price($event)"
            (input)="input_price($event)" (focus)="focus_price($event)">
        </amexio-number-input>
    </amexio-column>
</amexio-row>